html, body {
  margin: 0;
  padding: 0;
  container-type: inline-size; 
  font-family: "Courier New", monospace;
  background: transparent;
}

.embed-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

h1 {
  font-family: "Lucida Console", monospace;
  font-size: 5.5cqw;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.desc-top {
  font-size: 2.5cqw;
  text-align: center;
  margin: 1cqw;
}

.canvas-container {
  width: 60%;
  max-width: 360px;
  aspect-ratio: 1 / 1;
  margin-top: 1.5cqw;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.desc-container {
  text-align: center;
 
}

.log {
  font-size: 6cqw;
  font-weight: bold;
  margin: 1cqw 0;
}

button {
  background: black;
  color: white;
  border: none;
  padding: 0.3rem 2.5rem;
  font-family: inherit;
  text-transform: uppercase;
}

button:active {
  background: white;
  color: black;
}

#pre-log {
  margin-top: 1cqw;
  font-size: 2.5cqw;
}
